SECRET_KEY= # 32 bytes
JWT_SECRET_KEY=yoursecretkey
DATABASE_URL=postgres://user:password@host:port/dbname?sslmode=disable

# Redis Configuration
REDIS_URL=redis://localhost:6379
# Granular Redis Config (will be used if REDIS_URL is not set)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Solana Configuration
SOLANA_MAINNET_RPC=https://api.mainnet-beta.solana.com
SOLANA_MAINNET_WS=wss://api.mainnet-beta.solana.com
SOLANA_DEVNET_RPC=https://api.devnet.solana.com
SOLANA_DEVNET_WS=wss://api.devnet.solana.com

# Lua Execution
# The number of Lua states to keep in the cache pool
LUA_POOL_SIZE=10

JUPITER_API_KEY=your_jupiter_api_key